# Prerequisites
*.d

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Files built by Visual Studio
*.pdb
*.ipdb

# Local History for Visual Studio
.localhistory/

# Visual Studio History (VSHistory) files
.vshistory/